#banner {
  background-image: url('../images/pantin.jpg');
  background-size: cover;
  margin-top: 50px;
  height: 300px;
  color: white;
}


// #banner {
//   background: asset-url('Combi11.jpg');
//   background-size: cover;
//   padding-top: 260px;
//   height: 50vw;
//   width: 100vw;
//   h1 {
//     font-size: 100px;
//   }
// }
