---
title: S.A.S 93 - Demandeurs d'emploi
---

<div class="text-center padded-small" style="margin-top: 100px">
  <h3>
    <strong><em>Vous êtes demandeur d'emploi longue durée en Seine-Saint-Denis ?</em></strong>
  </h3>
</div>

<!-- Les 3 boutons de sélection -->
<div class="container padded-small">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="padded-small">
        <div class="card" id="card-blue">
          <div class="text-center" id="card-title-blue" style="margin: auto">
            <p><strong>S.A.S-93 vous aide</strong></p>
          </div>
          <div class="text-center" style="font-size:22px">
            <p style="padding-left: 0.5em">Nous proposons des contrats de mise à disposition et un accompagnement socioprofessionnel</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="padded-small">
        <div class="card" id="card-blue">
          <div class="text-center" id="card-title-blue" style="margin: auto">
            <p><strong>Critères d'éligibilité</strong></p>
          </div>
          <ul>
            <li>Etre inscrit(e) au Pôle Emploi ou à CapEmploi</li>
            <li>Etre inscrit(e) dans une mission locale</li>
            <li>Etre suivi(e) par un CCAS</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="padded-small">
        <div class="card" id="card-blue">
          <div class="text-center" id="card-title-blue" style="margin: auto">
            <p><strong>Zone d'intervention</strong></p>
          </div>
          <div class="text-center" style="font-size:22px">
            <br>
            <p style="padding-left: 0.5em">Nous intervenons sur l'ensemble du territoire de la Seine-Saint-Denis</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- le lien vers la page de contact -->
<div class="text-center" style="text-decoration: underline">
  <a href="/sas-93/contact.html"><h4><strong>Contactez-nous pour un rendez-vous</strong></h4></a>
</div>

<!-- le lien vers la home -->
<div class="text-center padded-small">
  <a href="/sas-93">
    <button type="button" class="btn" id="btn-purple" style="margin-bottom: 20px"><i class="fa fa-home"></i></button>
  </a>
</div>
