---
title: Bienvenue chez S.A.S 93
---

<!-- Bannière en "une" -->
<div class="text-center padded" id="banner">
  <h3><strong><em><span style="background-color: rgba(40, 40, 40, 0.5)">Service Amitié Solidarité 93 est une structure associative de l’économie sociale et solidaire. Nous faisons de l’insertion par l’activité économique en Seine-Saint-Denis.</span></em></strong></h3>
  <a href="/presentation.html">
    <button type="button" class="btn" id="btn-purple">En savoir plus</button>
  </a>
</div>

<!-- Les 3 boutons de sélection -->
<div class="container padded-small">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="text-center padded-small">
        <a href="/particulier.html">
          <button type="button" class="btn btn-choice" id="btn-orange">
            <p>
              Vous êtes
              <br>
              un particulier
            </p>
          </button>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="text-center padded-small">
        <a href="/entreprise.html">
          <button type="button" class="btn btn-danger btn-choice">
            <p>
              Vous êtes
              <br>
              une collectivité
              <br>
              ou une entreprise
            </p>
          </button>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="text-center padded-small">
        <a href="/demandeur.html">
          <button type="button" class="btn btn-primary btn-choice">
            <p>
              Vous êtes
              <br>
              demandeur d'emploi
            </p>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
