---
title: S.A.S 93 - Mentions légales
---

<div class="padded-small" style="margin-top: 100px">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-offset-3">
        <h4>
          Le présent site est édité par S.A.S-93
        </h4>
        <br>
        <p>
          S.A.S-93 est une association intermédiaire agrée N° 89.1437
          <br>
          44, Rue de Paris – 93260 Les Lilas
          <br>
          S.A.S-93 BP03 – 93261 Les Lilas Cedex
          <br>
          Tél. 01 41 71 22 11 – Fax 01 41 71 22 00 – Email : association.sas93@gmail.com
          <br>
          Siret : 352 367 718 00041 – Code NAF 8899 B
          <br>
          Association intermédiaire agrée N° 89.1437
        </p>
      </div>
    </div>
  </div>
</div>

<!-- le lien vers la home -->
<div class="text-center padded-small">
  <a href="/sas-93">
    <button type="button" class="btn" id="btn-purple" style="margin-bottom: 20px"><i class="fa fa-home"></i></button>
  </a>
</div>



