---
title: S.A.S 93 - Particuliers
---

<div class="text-center padded-small" style="margin-top: 100px">
  <h3>
    <strong><em>Vous avez besoin de vous faciliter la vie ?</em></strong>
  </h3>
</div>

<div class="text-center">
  <h4>
    S.A.S-93 s’occupe de toutes les démarches administratives et vous propose des intervenants qualifiés en Seine-Saint-Denis pour :
  </h4>
</div>

<!-- Les 3 boutons de sélection -->
<div class="container padded-small">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="padded-small">
        <div class="card" id="card-orange">
          <div class="text-center" id="card-title-orange" style="margin: auto">
            <p><strong>Services à domicile</strong></p>
          </div>
          <ul>
            <li>Aide ménagère</li>
            <li>Lessivage et repassage</li>
            <li>Lavage de vitres</li>
            <li>Préparation de repas</li>
            <li>Courses et petites livraisons</li>
            <li>Garde d’enfants (3 ans et +)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="padded-small">
        <div class="card" id="card-orange">
          <div class="text-center" id="card-title-orange" style="margin: auto">
            <p><strong>Manutention et déménagement</strong></p>
          </div>
          <br>
          <ul style="font-size: 18px">
            <li>Port de charges</li>
            <li>Préparation de déménagement</li>
            <li>Nettoyage avant état de lieux</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="padded-small">
        <div class="card" id="card-orange">
          <div class="text-center" id="card-title-orange" style="margin: auto">
            <p><strong>Petits travaux et dépannage</strong></p>
          </div>
          <br>
          <ul style="font-size: 18px">
            <li>Bricolage</li>
            <li>Jardinage</li>
            <li>Petite plomberie</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- le lien vers la page de contact -->
<div class="text-center" style="text-decoration: underline">
  <a href="/sas-93/contact.html"><h4><strong>Contactez-nous pour un devis</strong></h4></a>
</div>

<!-- le lien vers la home -->
<div class="text-center padded-small">
  <a href="/sas-93">
    <button type="button" class="btn" id="btn-purple" style="margin-bottom: 20px"><i class="fa fa-home"></i></button>
  </a>
</div>
